html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #a12727;
}

.table-box {
    border-top: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 75%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.table-box:hover {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.8);
}

.login-box {
    color: white;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

button {
    padding: 0.8em 1.8em;
    border-radius: 8px;
    background-color: transparent;
    color: #c82626;
    border: 2px solid #c82626;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

td {
    text-align: center;
}